services:
  adguardhome:
    image: adguard/adguardhome:v0.107.71
    container_name: adguardhome
    restart: unless-stopped
    volumes:
      - ./data:/opt/adguardhome/work
      - ./config:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
#      - 4433:443/tcp
#      - 4433:443/udp
      - 1010:80/tcp
    #networks:
    #  - traefik_proxy
    network_mode: host
    labels:
      traefik.enable: true
      traefik.http.routers.adblocker.rule: Host(`adblocker.alma`)
      traefik.http.routers.adblocker.entrypoints: web
      traefik.http.services.adblocker.loadbalancer.server.port: 80
      wud.tag.include: ^v\d+\.\d+\.\d+$$
      wud.link.template: https://github.com/AdguardTeam/AdGuardHome/releases/tag/v$${major}.$${minor}.$${patch}
      wud.display.icon: si:adguard
